* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}
.loader {
    width: 48px;
    height: 48px;
    margin-top: 20%;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 5rem 2rem;
}

.todo {
    width: 650px;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(#c8ff01, #dbff58, #e3ff7d);
    color: rgb(5, 136, 251);
}